@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table id="dataTable" class="display">
        <thead>
        <tr>
            <th>User Id</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.UserModels!)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.Email</td>
                <td>@item.Username</td>
                <td>@item.Password</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}
